.friends-diplay-link {
    text-align: center;
    display: block;
    padding: 25px;
    padding-top: 10px;
    font-size: 18px;
    background-color: #fafafa;
    margin-bottom: 10px;
}
.friends-diplay-link i {
    color: rgba(0,0,0,0.3);
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}